<div>Testing Simulus with Greeting</div>

<div data-controller="welcome">
    <input type="text" data-welcome-target="name">
    <button data-action="click->welcome#greet">Greet</button>
    <div data-welcome-target = "greeting"></div>

    <div data-welcome-target = "getDatetime"></div>
</div>


<%= link_to 'Home', countdowns_path %>